# Speech-to-Text
faster-whisper
# Microphone recording (local testing only)
sounddevice
# Saving microphone recordings as WAV
scipy
# Tavily for web search
tavily-python
# Google Gemini AI SDK
google-generativeai
google-genai
python-dotenv
# FastAPI Server
fastapi
uvicorn